services:
  postgres:
    image: postgres:17
    container_name: local_postgres
    restart: always
    environment:
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devpass
      POSTGRES_DB: devdb
    ports:
      - '5434:5432'
    volumes:
      - pg_data:/var/lib/postgresql/data
volumes:
  pg_data:
